.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  background-color: black;
  min-height: 200vh;
}
.hr-line{
  border: 1px solid brown;
  margin-block: 20px;
}

ul{
  list-style: none;
  margin-inline: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.card a{
  text-decoration: none;
}
ul .card{
  display: block;
  padding: 2rem;
  color: rgb(255,255,255);
  box-shadow: rgb(0,0,0)0px 0px 10px;
  overflow: hidden;
  border-radius: 0.5rem;
  background-image: url(https://finmavis.github.io/swapi-task/static/media/bg-card-2.b0a7b209.png);
}
ul .card:hover{

  box-shadow: transparent 0px 0px 10px 3px,rgb(153, 58, 58) 0px 0px 10px;
  border: 4px solid brown;

}

